<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary bs-navbar-top" aria-label="BlockWit Booking Service navbar">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img th:src="@{/img/logo_light_right.png}" alt="BlockWit" class="navbar-brand-logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#bbs-navbar"
                aria-controls="bbs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse bs-navbar" id="bbs-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li th:replace="front/fragments/navbar/item :: item(targetName = 'отели', targetUrl = '/hotels')"></li>
                <li sec:authorize="isAuthenticated()"
                    th:replace="front/fragments/navbar/item :: item(targetName = 'Забронированные', targetUrl = '/hotels/booked')"></li>
                <li sec:authorize="hasAnyAuthority('ADMIN', 'PROVIDER')"
                    th:replace="front/fragments/navbar/item :: item(targetName = 'добавить', targetUrl = 'hotels/add')"></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()"
                    th:replace="front/fragments/navbar/item :: itemWithIcon(targetName = 'войти', targetUrl = '/app/login', menuItemIcon = 'fa-sign-in-alt')"></li>
                <li sec:authorize="isAuthenticated()"
                    th:replace="front/fragments/navbar/item :: itemWithIcon(targetName = 'выйти', targetUrl = '/logout', menuItemIcon = 'fa-sign-out-alt')"></li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
