<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="showPictureHotel">
        <div th:insert="${hotel.getPictures().size == 0 && (isAdmin || hotel.getOwnerId()==userId)} ?
                                                            ~{front/fragments/itemFront ::
                                                                itemFrontIcon(targetUrl ='/hotels/'+${hotel.getId()} +'/picture/add',
                                                                    itemIcon= 'fas fa-camera')}: ~{}">
        </div>
        <a th:href="${hotel.getPictures().size > 0} ?
                ${hotel.getPictures().get(0).getPath()} :~{}">
                <img th:src="${hotel.getPictures().size > 0} ?
                                             ${hotel.getPictures().get(0).getPath()} :~{}"
                     class="img-fluid rounded"
                     alt="loader" style="width: 150px;height: 120px;" id="loader"/>
        </a>
</div>
</body>
</html>
