<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<body>
<div th:fragment="showPictureHotel">
        <div th:insert="${hotel.getPictures().size == 0 && (isAdmin || hotel.getOwnerId()==userId)} ?
                                                            ~{front/fragments/itemFront ::
                                                                itemFrontIcon(targetUrl ='/hotels/'+${hotel.getId()} +'/picture/add',
                                                                    itemIcon= 'fas fa-camera')}: ~{}">
        </div>
        <img th:src="${hotel.getPictures().size > 0} ?
                                                            ${hotel.getPictures().get(0).getPath()} :~{}"
             class="rounded"
             alt="loader" style="width: 150px;height: 120px;" id="loader"/>
</div>
</body>
</html>
