<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<div layout:fragment="content">

    <!--/*@thymesVar id="hotel" type="com.blockwit.booking.entity.Hotel"*/-->
    <div class="my-3 p-3 bg-body rounded shadow-sm bs-authreg-container">
        <h6 class="border-bottom pb-2 mb-2">Новый пользователь: </h6>
        <form th:action="@{/app/accounts/create}" method="post" class="my-4"
              th:object="${newAccount}">
            <div class="mb-3">
                <label for="loginInput" class="form-label">Login</label>
                <input name="login" type="text" class="form-control"
                       id="loginInput" aria-describedby="loginHelp"
                       th:value="*{login}">
                <td th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</td>
                <div id="loginHelp" class="form-text">Имя пользователя</div>
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input name="email" type="text" class="form-control"
                       id="emailInput" aria-describedby="emailHelp"
                       th:value="*{email}">
                <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</td>
                <div id="emailHelp" class="form-text">Адресс электронной почты</div>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input name="password" type="text" class="form-control"
                       id="passwordInput" aria-describedby="passwordHelp"
                       th:value="*{password}">
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</td>
                <div id="passwordHelp" class="form-text">Пароль</div>
            </div>
            <div class="mb-3">
                <label for="repasswordInput" class="form-label">Repassword</label>
                <input name="repassword" type="text" class="form-control"
                       id="repasswordInput" aria-describedby="repasswordHelp"
                       th:value="*{repassword}">
                <td th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Repassword error</td>
                <div id="repasswordHelp" class="form-text">Подвтерждение пароля</div>
            </div>

            <div>
                <label>hotel stuff:
                    <input type="checkbox" name="serviceProvider"
                           th:checked="*{serviceProvider}"/>
                </label>
            </div>
            <div class="form-group mt-5">
                <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
            </div>

        </form>
    </div>

</div>
</html>