<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front/layouts/main}">
<div layout:fragment="content">

    <div class="my-3 p-3 bg-body rounded shadow-sm bs-authreg-container">
        <h6 class="border-bottom pb-2 mb-2">Login to service</h6>
        <form th:action="@{/app/login}" method="post" class="my-4">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Login</label>
                <input name="username" type="text" class="form-control" id="nameInput" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Password</label>
                <input name="password" type="text"
                       class="form-control" id="descriptionInput"
                       minlength="8" maxlength="50"
                       aria-describedby="emailHelp">
            </div>
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
        </form>
        <p>Create account? <a href="/app/accounts/create">Create</a></p>
    </div>
</div>
</html>
